.nav-list {
  display: flex;
  padding: 10px 0;
  margin-bottom: 50px;
}

.Restcountries{
  margin-right: auto;
  color: rgb(13, 86, 134);
  font-size: 20px;
}

.Signin {
  margin-right: 30px;
  color: rgb(13, 86, 134)
}

.Signup {
  color: rgb(13, 86, 134)
}

.Countries {
  margin-right: 30px;
  color: rgb(13, 86, 134)
}