.game {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  text-align: center;
  color: black;
}

.coins {
  font-size: 30px;
}

.reel {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  color: rgb(27, 145, 116);
  font-size: 20px;
  font-weight: 700;
}

.play {
  background-color: rgb(50, 141, 50);
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid green;
}